@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
body, html{
    height: 100%;
    width: 100%;
    background-color: black;
}
section{
    height: 100vh;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #BBA166;
    text-align: center;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #BBA166;
    text-align: center;
}
.contain{
    width: 40%;
    height: 80%;
    border: 2px solid #BBA166;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contain-2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-in-contain{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #BBA166;
}
a{
    text-decoration: none;
    color: #BBA166;
}
.logo{
    width: 500px;
}
i{
    font-size: 50px;
    margin: 10px;
}
.mobile{
    display: none;
}
.officers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.officers .thing{
    width: 20%;
    margin: 10px;
    border: 2px solid #BBA166;
    padding: 5px;
    padding-bottom: 10px;
    transition: 0.45s;
}
.officers .thing:hover{
    transition: 0.45s;
    transform: scale(1.05);
    margin-left: 20px;
    margin-right: 20px;
}
.officers .thing img{
    width: 100%;
    border-radius: 2px;
}
@media screen and (max-width: 768px){
    .computer{
        display: none;
    }
    .mobile{
        display: block;
    }
    .contain {
        width: 90%;
        height: 80%;
        border: 2px solid #BBA166;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .contain h1{
        font-size: 25px;
    }
    .logo{
        width: 450px;
    }
    .contain-2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-in-contain {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #BBA166;
    }
}